@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
/* Container Colors */
.border-brown {
  border-left: 40px solid #A66E33;
}

.border-green {
  border-left: 40px solid #008245;
}

.border-red {
  border-left: 40px solid #DB2C33;
}

.border-yellow {
  border-left: 40px solid #FFD640;
}

.border-orange {
  border-left: 40px solid #E76F33;
}

.border-white {
  border-left: 40px solid #F2F2F2 !important;
}

.border-green-urine {
  border-left: 40px solid #3DB54B;
}

.border-yellow-urine {
  border-left: 40px solid #F9ED25;
}

.border-faeces {
  border-left: 40px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: repeating-linear-gradient(to top, #573a1d, #573a1d 10px, #734d27 10px, #734d27 20px);
  border-image-slice: 1;
}

.border-24h-urine {
  border-left: 40px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: repeating-linear-gradient(to top, #FAE100, #FAE100 10px, #FDF4A3 10px, #FDF4A3 20px);
  border-image-slice: 1;
}

.border-24h-urine-acid {
  border-left: 40px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: repeating-linear-gradient(to top, #78BE20, #78BE20 10px, #B3E771 10px, #B3E771 20px);
  border-image-slice: 1;
}

.color-brown {
  background: #A66E33;
  color: #EBEBEB;
}

.color-green {
  background: #008245;
  color: #EBEBEB;
}

.color-red {
  background: #DB2C33;
  color: #EBEBEB;
}

.color-yellow {
  background: #FFD640;
  color: #262626;
}

.color-orange {
  background: #E76F33;
  color: #EBEBEB;
}

.color-white {
  background: #F2F2F2;
  color: #262626;
}

.color-green-urine {
  background: #3DB54B;
  color: #262626;
}

.color-yellow-urine {
  background: #F9ED25;
  color: #262626;
}

.color-faeces {
  background: linear-gradient(to bottom, #412414, #412414 50%, #603A16 50%, #603A16);
  background-size: 100% 20px;
  color: #EBEBEB;
}

.color-24h-urine {
  background: linear-gradient(to bottom, #F9ED25, #F9ED25 50%, #FFF4CC 50%, #FFF4CC);
  background-size: 100% 20px;
  color: #262626;
}

.color-24h-urine-acid {
  background: linear-gradient(to bottom, #3DB54B, #3DB54B 50%, #8FCC96 50%, #8FCC96);
  background-size: 100% 20px;
  color: #262626;
}

/* COLORS */
a, a:visited {
  color: #EBEBEB;
}

a:hover, a:active, a:focus {
  color: #EBEBEB;
}

.error-msg {
  color: #262626;
}

.card, .card-header {
  background: #fff;
  color: #4A4A4A;
}

.card-header:hover, .card-header[aria-expanded=true], .card-body {
  color: #262626;
  transition: all 0.3s;
}

.bg-light-grey {
  background: #EBEBEB;
}

body {
  background: #EBEBEB;
  color: #EBEBEB;
}

.btn-dark {
  color: #EBEBEB;
  background-color: #262626;
  border-color: #262626;
}

.jumbotron {
  color: #EBEBEB;
}

h3 {
  color: #4A4A4A;
}

dt {
  color: #4A4A4A;
}

a.eqms-link {
  color: #262626;
}

footer {
  background: #4A4A4A;
}

footer p {
  color: #EBEBEB;
}

.search label {
  color: #4A4A4A;
}

.badge {
  background: #D7D7D7;
  color: #262626;
}

dt {
  color: #757575;
}

.bg-img {
  background: url("../img/reception_bg_dark_90.jpg") no-repeat center;
  background-size: cover;
}

/* TYPOGRAPHY */
a, a:visited {
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 56px;
}

h2 {
  font-size: 1.75rem;
  line-height: 32px;
}

h3 {
  font-size: 1rem;
  font-style: italic;
}

h5 {
  line-height: 32px;
}

p {
  font-size: 1.125rem;
}

footer p {
  font-size: 1rem;
}

footer small a {
  font-size: 0.875rem;
}

.card-header-text h5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.card-header-right p:last-child {
  font-weight: 500;
}

.card-header-right p:first-child {
  line-height: 32px;
}

dt {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
}

dd, .eqms-link {
  font-size: 1.125rem;
  font-size: 1.5rem;
  line-height: 32px;
}

.error-msg {
  font-size: 1.5rem;
}

.search label {
  font-size: 1.125rem;
}

/** LAYOUT */
.main {
  min-height: 700px;
  margin-bottom: 48px;
  padding: 2em 0;
}

.card {
  border-bottom: none;
}

.card-header {
  padding: 0;
}

.card-header-text {
  padding: 0.75rem 1.25rem !important;
}

.card-header-text p {
  font-size: 1rem;
  margin: 0;
}

dd {
  margin-bottom: 0.75rem;
}

.jumbotron {
  text-align: center;
  min-height: 350px;
  height: 100px;
}

.tests {
  margin-bottom: 24px;
}

.img-container {
  height: 100%;
  float: left;
  clear: left;
}

.title-img {
  width: 56px;
  margin-right: 16px;
}

footer {
  padding: 2rem 0;
}

.footer-right {
  text-align: right;
}

/* MISC */
.card-header {
  cursor: pointer;
}

.search {
  border-bottom: 2px solid #D7D7D7;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 38px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .card-header-right {
    text-align: right;
  }

  dt {
    padding-left: 40px !important;
  }
}
@media (max-width: 767px) {
  button#search-btn {
    margin-top: 8px;
  }
}
@media (min-width: 1200px) {
  .main {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .jumbotron {
    min-height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
