@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* Container Colors */
$black: #000;
$white: #fff;
$light-grey: #F5F5F5;
$bg-grey: #bbb;
// $mid-grey: #555;
$mid-grey: #4A4A4A;
$darker-grey: #272727;
$container-brown: #A07739;
$container-green: #048636;
$container-red: #DA291C;
$container-yellow: #E9D78E;
$container-orange: #E77D27;
$container-white: #F2F2F2;
$container-green-urine: #78BE20;
$container-yellow-urine: #FAE100;
$container-faeces: linear-gradient(
    to bottom,
    #573a1d,
    #573a1d 50%,
    #734d27 50%,
    #734d27
  );

$container-24h: linear-gradient(
    to bottom,
    #FAE100,
    #FAE100 50%,
    #FDF4A3 50%,
    #FDF4A3
  );

$container-24h-acid: linear-gradient(
    to bottom,
    #78BE20,
    #78BE20 50%,
    #B3E771 50%,
    #B3E771
  );

.border-brown {
  border-left: 40px solid $container-brown;
}
.border-green {
  border-left: 40px solid $container-green;
}
.border-red {
  border-left: 40px solid $container-red;
}
.border-yellow {
  border-left: 40px solid $container-yellow;
}
.border-orange {
  border-left: 40px solid $container-orange;
}
.border-white {
  border-left: 40px solid $container-white !important; // override bootstrap default
}
.border-green-urine {
  border-left: 40px solid $container-green-urine;
}
.border-yellow-urine {
  border-left: 40px solid $container-yellow-urine;
}
.border-faeces {
  border-left: 40px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: repeating-linear-gradient(to top, #573a1d,#573a1d 10px, #734d27 10px,#734d27 20px );
  border-image-slice: 1;
}
.border-24h-urine {
  border-left: 40px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: repeating-linear-gradient( to top, #FAE100, #FAE100 10px, #FDF4A3 10px, #FDF4A3 20px );
  border-image-slice: 1;

}
.border-24h-urine-acid {
  border-left: 40px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: repeating-linear-gradient(to top, #78BE20, #78BE20 10px, #B3E771 10px, #B3E771 20px );
  border-image-slice: 1;
}
.color-brown {
    background: $container-brown;
    color: $light-grey;
}
.color-green {
    background: $container-green;
    color: $light-grey;
}
.color-red {
    background: $container-red;
    color: $light-grey;
}
.color-yellow {
    background: $container-yellow;
    color: $darker-grey;
}
.color-orange {
    background: $container-orange;
    color: $light-grey;
}
.color-white {
    background: $container-white;
    color: $darker-grey;
}
.color-green-urine {
    background: $container-green-urine;
    color: $darker-grey;
}
.color-yellow-urine {
    background: $container-yellow-urine;
    color: $darker-grey;
}
.color-faeces {
    background: $container-faeces;
    background-size: 100% 20px;
    color: $light-grey;
}
.color-24h-urine {
    background: $container-24h;
    background-size: 100% 20px;
    color: $darker-grey;
}
.color-24h-urine-acid {
    background: $container-24h-acid;
    background-size: 100% 20px;
    color: $darker-grey;
}

/* Text/other colors */
a, a:visited {
  color: $light-grey;
}
a:hover, a:active, a:focus {
  color: $light-grey;
}
.error-msg {
  color: $darker-grey;
}
.card, .card-header {
  background: $white;
  color: $mid-grey
}
.card-header {
  // opacity: 0.9;
}
.card-header:hover, .card-header[aria-expanded=true], .card-body {
  // opacity: 1;
  color: $darker-grey;
  transition: all 0.3s;
}

.bg-light-grey {
  background: $light-grey;
}
body {
  // background-color: $bg-grey;
  background: $light-grey;
  color: $light-grey;
  // background: rgb(112,112,112);
  // background: linear-gradient(45deg, rgba(112,112,112,1) 0%, rgba(85,85,85,1) 100%);
}
.main {
  background: $light-grey;
  // background: #f9f9f9;
  padding: 2em 0;
}
.btn-dark {
  color: $light-grey;
  background-color: $darker-grey;
  border-color: $darker-grey;
}
.jumbotron {
  color:$light-grey;
}
h3 {
  color: $mid-grey;
}
dt {
  color: $mid-grey;
}
a.eqms-link {
  color: $darker-grey;
}
footer {
  background: $mid-grey;
}
footer p {
  color: $light-grey;
}
.search label {
  color: $mid-grey;
}


.bg-img {
  background: url('../img/reception_bg_dark_90.jpg') no-repeat center;
  background-size: cover;
}

/* Typography */
a, a:visited {
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: underline;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: 400;
  font-size: 56px;
}
h2 {
  font-size: 1.75rem;
  line-height: 32px;
}
h3 {
  font-size: 1rem;
  font-style: italic;
}
h5 {
  line-height: 32px;
}
p {
  font-size: 1.125rem;
}
footer p {
  font-size: 1rem;
}
footer a {
  font-weight: 600;
}
.card-header-text h5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.card-header-right p:last-child {
  font-weight: 500;
}
.card-header-right p:first-child {
  line-height: 32px;
}
dt {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
  margin-top: 3px;
}
dd, .eqms-link {
  font-size: 1.125rem;
  font-size: 1.5rem;
  line-height: 32px
}
.error-msg { 
  font-size: 1.5rem;
}
.search label {
  font-size: 1.125rem;
}
@media (min-width: 768px) {
  h2 { 
    font-size: 2rem; 
    line-height: 38px;
    margin-bottom: 0;
  }
}



/** LAYOUT */

.main {
  min-height: 700px;
  margin-bottom: 48px;
}
.card {
  border-bottom: none;
}
.card-header {
  padding: 0;
  // border-bottom: 1px solid #ccc;
}
.card-header-text {
    padding: .75rem 1.25rem !important;
}
.card-header-text p {
  font-size: 1rem;
  margin: 0;

}
.jumbotron {
  text-align: center;
  min-height: 350px;
}
.tests {
  margin-bottom: 24px;
}
.title-img {
  width: 56px;
  margin-right: 16px;
  float: left;
}
footer {
  padding: 2rem 0;
}

.footer-right {
  text-align: right;
}

@media (min-width: 768px) {
  .card-header-right { text-align: right; }
}

@media (max-width: 767px) {
  button#search-btn {
    margin-top: 8px;
  }
}
@media (min-width: 1200px) { 
  .main {
    max-width: 1140px;
    margin-left:  auto;
    margin-right: auto;
    padding: 2em 3em;
    background: #fff;
    margin-top: -50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .jumbotron {
    min-height: 400px;
  }
}

/* Misc */
.card-header {
  cursor: pointer;
}

