@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* Container Colors */
$black: #000;
$white: #fff;
$light-grey: #F5F5F5;
$bg-grey: #FAFAFA;
$mid-grey: #555;
$darker-grey: #272727;
$container-brown: #A07739;
$container-green: #048636;
$container-red: #DA291C;
$container-yellow: #E9D78E;
$container-orange: #E77D27;
$container-white: #F2F2F2;
$container-green-urine: #78BE20;
$container-yellow-urine: #FAE100;
$container-faeces: linear-gradient(
    to bottom,
    #573a1d,
    #573a1d 50%,
    #734d27 50%,
    #734d27
  );
  $container-faeces-v: repeating-linear-gradient(
    to right,
    #573a1d,
    #573a1d 10px,
    #734d27 10px,
    #734d27 20px
  ) ;
$container-24h: linear-gradient(
    to bottom,
    #FAE100,
    #FAE100 50%,
    #FDF4A3 50%,
    #FDF4A3
  );
  $container-24h-v: repeating-linear-gradient(
    to right,
    #FAE100,
    #FAE100 10px,
    #FDF4A3 10px,
    #FDF4A3 20px
  );

$container-24h-acid: linear-gradient(
    to bottom,
    #78BE20,
    #78BE20 50%,
    #B3E771 50%,
    #B3E771
  );
  $container-24h-acid-v: repeating-linear-gradient(
    to right,
    #78BE20,
    #78BE20 10px,
    #B3E771 10px,
    #B3E771 20px
  );
.border-brown {
  border-left: 40px solid $container-brown;
}
.border-green {
  border-left: 40px solid $container-green;
}
.border-red {
  border-left: 40px solid $container-red;
}
.border-yellow {
  border-left: 40px solid $container-yellow;
}
.border-orange {
  border-left: 40px solid $container-orange;
}
.border-white {
  border-left: 40px solid $container-white !important; // override bootstrap default
}
.border-green-urine {
  border-left: 40px solid $container-green-urine;
}
.border-yellow-urine {
  border-left: 40px solid $container-yellow-urine;
}
.border-faeces {
  border-left: 40px solid;
  border-image: repeating-linear-gradient(to top, #573a1d,#573a1d 10px, #734d27 10px,#734d27 20px );
  border-image-slice: 1;
}
.border-24h-urine {
  border-left: 40px solid;
  border-image: repeating-linear-gradient( to top, #78BE20, #78BE20 10px, #B3E771 10px, #B3E771 20px );
  border-image-slice: 1;
}
.border-24h-urine-acid {
  border-left: 40px solid;
  border-image: repeating-linear-gradient(to top, #78BE20, #78BE20 10px, #B3E771 10px, #B3E771 20px );
  border-image-slice: 1;
}
.color-brown {
    background: $container-brown;
    color: $white;
}
.color-green {
    background: $container-green;
    color: $white;
}
.color-red {
    background: $container-red;
    color: $white;
}
.color-yellow {
    background: $container-yellow;
    color: $black;
}
.color-orange {
    background: $container-orange;
    color: $white;
}
.color-white {
    background: $container-white;
    color: $black;
}
.color-green-urine {
    background: $container-green-urine;
    color: $black;
}
.color-yellow-urine {
    background: $container-yellow-urine;
    color: $black;
}
.color-faeces {
    background: $container-faeces;
    background-size: 100% 20px;
    color: $white;
}
.color-24h-urine {
    background: $container-24h;
    background-size: 100% 20px;
    color: $black;
}
.color-24h-urine-acid {
    background: $container-24h-acid;
    background-size: 100% 20px;
    color: $black;
}

/* Text/other colors */
.error-msg {
  color: $black;
}
.card, .card-header {
  background: $white;
}
.card-header {
  opacity: 0.85;
}
.card-header:hover, .card-header[aria-expanded=true] {
  opacity: 1;
  transition: opacity 0.3s;
}
.bg-light-grey {
  background: $light-grey;
}
body {
  background-color: $bg-grey;
}
.main {
  background: $light-grey;
  padding: 2em 0;
}
.jumbotron {
  color:$light-grey;
}
h3 {
  color: $mid-grey;
}
dt {
  color: $mid-grey;
}
footer p {
  text-align: right;
  color: $mid-grey;
}

.bg-img {
  background: url('reception_bg_dark_90.jpg') no-repeat center;
  background-size: cover;
}

/* Typography */
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: 400;
  font-size: 56px;
}
h2 {
  font-size: 1.75rem;
  line-height: 32px;
}
h3 {
  font-size: 1rem;
  font-style: italic;
}
h5 {
  line-height: 32px;
}
p {
  font-size: 1.125rem;
}
footer p {
  font-size: 1rem;
}
.card-header-text h5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.card-header-right p:last-child {
  font-weight: 500;
}
.card-header-right p:first-child {
  line-height: 32px;
}
dt {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
  margin-top: 3px;
}
dd {
  font-size: 1.125rem;
  font-size: 1.5rem;
  line-height: 32px
}
.error-msg { 
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h2 { font-size: 2rem; }
}



/** LAYOUT */
.card-header {
  padding: 0;
}
.card-header-text {
    padding: .75rem 1.25rem !important;
}
.card-header-text p {
  font-size: 1rem;
  margin: 0;
}
.jumbotron {
  text-align: center;
  min-height: 350px;
}
.tests {
  margin-bottom: 24px;
}
.title-img {
  width: 56px;
  margin-right: 16px;
  float: left;
}
.search label {
  font-size: 1.125rem;
  color: $mid-grey;
}
@media (min-width: 768px) {
  .card-header-right { text-align: right; }
}
@media (min-width: 974px) {
  header .lead {
    padding-left: 76px;
  }
}


@media (min-width: 1200px) { 
  .main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: -50px;
    padding: 3em;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: 1px solid rgba(0,0,0,.125)
  }
  .jumbotron {
    min-height: 400px;
  }
}

/* Misc */
.card-header {
  cursor: pointer;
}

