@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

// Colors
$black: #000;
$white: #fff;
$light-grey: #F5F5F5;
$bg-grey: #FAFAFA; // #555
$mid-grey: #555;
// $dark-grey: #7a7a7a;
$darker-grey: #272727;
$container-brown: #A07739;
$container-green: #048636;
$container-red: #DA291C;
$container-yellow: #E9D78E;
$container-orange: #E77D27;
$container-white: #F2F2F2;
$container-green-urine: #78BE20;
$container-yellow-urine: #FAE100;
$container-faeces: linear-gradient(
    to bottom,
    #573a1d,
    #573a1d 50%,
    #734d27 50%,
    #734d27
  );
$container-24h: linear-gradient(
    to bottom,
    #FAE100,
    #FAE100 50%,
    #FDF4A3 50%,
    #FDF4A3
  );
$container-24h-acid: linear-gradient(
    to bottom,
    #78BE20,
    #78BE20 50%,
    #B3E771 50%,
    #B3E771
  );


.color-brown {
    background: $container-brown;
    color: $white;
}
.color-green {
    background: $container-green;
    color: $white;
}
.color-red {
    background: $container-red;
    color: $white;
}
.color-yellow {
    background: $container-yellow;
    color: $black;
}
.color-orange {
    background: $container-orange;
    color: $white;
}
.color-white {
    background: $container-white;
    color: $black;
}
.color-green-urine {
    background: $container-green-urine;
    color: $black;
}
.color-yellow-urine {
    background: $container-yellow-urine;
    color: $black;
}
.color-faeces {
    background: $container-faeces;
    background-size: 100% 20px;
    color: $white;
}
.color-24h-urine {
    background: $container-24h;
    background-size: 100% 20px;
    color: $black;
}
.color-24h-urine-acid {
    background: $container-24h-acid;
    background-size: 100% 20px;
    color: $black;
}






.bg-img {
  background: url('reception_bg_dark_90.jpg') no-repeat center;
  background-size: cover;
}

/* Typography */
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: 400;
  font-size: 56px;
}
h2 {
  font-size: 1.75rem;
  line-height: 32px;
}
h3 {
  font-size: 1rem;
  font-style: italic;
}
h5 {
  line-height: 32px;
}
p {
  font-size: 1.125rem;
}
footer p {
  font-size: 1rem;
}
.card-header-text h5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.card-header-right p:last-child {
  font-weight: 500;
}
.card-header-right p:first-child {
  line-height: 32px;
  // font-style: italic;
}
dt {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
  margin-top: 3px;
}
dd {
  font-size: 1.125rem;
  font-size: 1.5rem;
  line-height: 32px
}
.error-msg { 
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h2 { font-size: 2rem; }
}



/** LAYOUT */
.card-header {
  padding: 0;
}
.card-header-text {
    padding: .75rem 1.25rem !important;
}
.card-header-text p {
  font-size: 1rem;
  margin: 0;
}
// .card {
//   // margin-bottom: 1rem;
// }
.jumbotron {
  text-align: center;
  min-height: 350px;
}
.tests {
  margin-bottom: 24px;
}

.search label {
  font-size: 1.125rem;
  color: $mid-grey;
}
@media (min-width: 768px) {
  .card-header-right { text-align: right; }
}

/* Colors */
// .card-header, .card {
//   border: 1px solid rgba(0,0,0,0.05)
// }
.error-msg {
  color: $black;
}
.card, .card-header {
  background: $white;
}
.card-header {
  opacity: 0.85;
}
.card-header:hover, .card-header[aria-expanded=true] {
  opacity: 1;
  transition: opacity 0.3s;
}

.bg-light-grey {
  background: $light-grey;
}
body {
  background-color: $bg-grey;
}
.main {
  background: $light-grey;
  padding: 2em 0;
}
.jumbotron {
  color: #F5F5F5;
}
h3 {
  color: $mid-grey;
}
dt {
  color: $mid-grey;
}
footer p {
  text-align: right;
  color: $mid-grey;
}

@media (min-width: 1200px) { 
  .main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: -50px;
    padding: 3em;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: 1px solid rgba(0,0,0,.125)
  }
  .jumbotron {
    min-height: 400px;
  }
}

/* Misc */
.card-header {
  cursor: pointer;
}

