@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
/* Container Colors */
.border-brown {
  border-left: 40px solid #A07739;
}

.border-green {
  border-left: 40px solid #048636;
}

.border-red {
  border-left: 40px solid #DA291C;
}

.border-yellow {
  border-left: 40px solid #E9D78E;
}

.border-orange {
  border-left: 40px solid #E77D27;
}

.border-white {
  border-left: 40px solid #F2F2F2 !important;
}

.border-green-urine {
  border-left: 40px solid #78BE20;
}

.border-yellow-urine {
  border-left: 40px solid #FAE100;
}

.border-faeces {
  border-left: 40px solid;
  border-image: repeating-linear-gradient(to top, #573a1d, #573a1d 10px, #734d27 10px, #734d27 20px);
  border-image-slice: 1;
}

.border-24h-urine {
  border-left: 40px solid;
  border-image: repeating-linear-gradient(to top, #78BE20, #78BE20 10px, #B3E771 10px, #B3E771 20px);
  border-image-slice: 1;
}

.border-24h-urine-acid {
  border-left: 40px solid;
  border-image: repeating-linear-gradient(to top, #78BE20, #78BE20 10px, #B3E771 10px, #B3E771 20px);
  border-image-slice: 1;
}

.color-brown {
  background: #A07739;
  color: #fff;
}

.color-green {
  background: #048636;
  color: #fff;
}

.color-red {
  background: #DA291C;
  color: #fff;
}

.color-yellow {
  background: #E9D78E;
  color: #000;
}

.color-orange {
  background: #E77D27;
  color: #fff;
}

.color-white {
  background: #F2F2F2;
  color: #000;
}

.color-green-urine {
  background: #78BE20;
  color: #000;
}

.color-yellow-urine {
  background: #FAE100;
  color: #000;
}

.color-faeces {
  background: linear-gradient(to bottom, #573a1d, #573a1d 50%, #734d27 50%, #734d27);
  background-size: 100% 20px;
  color: #fff;
}

.color-24h-urine {
  background: linear-gradient(to bottom, #FAE100, #FAE100 50%, #FDF4A3 50%, #FDF4A3);
  background-size: 100% 20px;
  color: #000;
}

.color-24h-urine-acid {
  background: linear-gradient(to bottom, #78BE20, #78BE20 50%, #B3E771 50%, #B3E771);
  background-size: 100% 20px;
  color: #000;
}

/* Text/other colors */
.error-msg {
  color: #000;
}

.card, .card-header {
  background: #fff;
}

.card-header {
  opacity: 0.85;
}

.card-header:hover, .card-header[aria-expanded=true] {
  opacity: 1;
  transition: opacity 0.3s;
}

.bg-light-grey {
  background: #F5F5F5;
}

body {
  background-color: #FAFAFA;
}

.main {
  background: #F5F5F5;
  padding: 2em 0;
}

.jumbotron {
  color: #F5F5F5;
}

h3 {
  color: #555;
}

dt {
  color: #555;
}

footer p {
  text-align: right;
  color: #555;
}

.bg-img {
  background: url("reception_bg_dark_90.jpg") no-repeat center;
  background-size: cover;
}

/* Typography */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 56px;
}

h2 {
  font-size: 1.75rem;
  line-height: 32px;
}

h3 {
  font-size: 1rem;
  font-style: italic;
}

h5 {
  line-height: 32px;
}

p {
  font-size: 1.125rem;
}

footer p {
  font-size: 1rem;
}

.card-header-text h5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.card-header-right p:last-child {
  font-weight: 500;
}

.card-header-right p:first-child {
  line-height: 32px;
}

dt {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
  margin-top: 3px;
}

dd {
  font-size: 1.125rem;
  font-size: 1.5rem;
  line-height: 32px;
}

.error-msg {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
/** LAYOUT */
.card-header {
  padding: 0;
}

.card-header-text {
  padding: 0.75rem 1.25rem !important;
}

.card-header-text p {
  font-size: 1rem;
  margin: 0;
}

.jumbotron {
  text-align: center;
  min-height: 350px;
}

.tests {
  margin-bottom: 24px;
}

.title-img {
  width: 56px;
  margin-right: 16px;
  float: left;
}

.search label {
  font-size: 1.125rem;
  color: #555;
}

@media (min-width: 768px) {
  .card-header-right {
    text-align: right;
  }
}
@media (min-width: 974px) {
  header .lead {
    padding-left: 76px;
  }
}
@media (min-width: 1200px) {
  .main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: -50px;
    padding: 3em;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .jumbotron {
    min-height: 400px;
  }
}
/* Misc */
.card-header {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
