
body {
  background: #E5E5E5;
}
.main {
  background: #fff;
  padding: 4em;
}
.jumbotron {
  background: #272727;
  color: #F5F5F5;
  text-align: center;
}


@media (min-width: 992px) { 
  .main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: -50px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  
}